.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0; /* REMOVES default browser margin */
  padding: 0; /* REMOVES default browser padding */
  min-width: 100vw; /* Ensures body spans entire viewport width */
  background-color: #f3f2f2;
}